# Binaries built by Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/app

# Output folders (if using these)
bin/
build/
dist/

# Coverage files
*.cover
*.coverprofile
*.cov
coverage.*

# Logs and temp
*.log
*.tmp
*.bak
*.old

# IDE/editor config
.vscode/
.idea/
*.swp

# Environment config
.env
.env.*

# OS-specific
.DS_Store
Thumbs.db

# Generated code
*.gen.go
sqlc.gen.go